[Unit]
Description=Contesta Hexagonna Videa al RDKx5

[Service]
Type=simple

User=root
Environment=ROS_HOME=/root/.ros
Environment=ROS_LOG_DIR=/root/.ros/log

ExecStart=/usr/local/bin/appli.sh

PrivateTmp=true
KillMode=control-group
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
